#gioithieu {
  background: var(--color-01);
  color: var(--color-04);
  padding: 16px;
}

#khac {
  background: var(--color-05);
  color: var(--color-02);
}


#gioithieu p {
  margin: 6px 0;
}

#gioithieu h2 {
  margin-bottom: 20px;
}

h2#typing-text {
  display: inline-block;
  border-right: 2px solid var(--color-04);
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 0.75s steps(1) infinite;
}

@keyframes blinkCursor {
  0%   { border-color: transparent; }
  50%  { border-color: var(--color-04); }
  100% { border-color: transparent; }
}

.info-card {
  background: var(--color-04);
  padding: 15px;
  border-radius: 10px;
}

.info-card p {
  margin: 10px 0;
  color: var(--color-01);
}

.info-card p:hover {
  transform: translateX(5px);
  transition: 0.3s;
}

.bio {
  line-height: 1.6;
}

#bio::before {
  font-family: 'boxicons';
  content: '\ee81';
  font-size: 1.5rem;
  margin-right: 4px;
}

#bio::after {
  font-family: 'boxicons';
  content: '\ee82';
  font-size: 1.5rem;
  margin-left: 4px;
}

.scroll-hint {
  position: relative;
  font-size: 1.2rem;
  color: var(--color-05);
  text-align: center;
  margin-top: 20px;
  animation: fadeIn 2s ease-in-out;
  cursor: pointer;
  transition: opacity 0.3s;
}

.scroll-hint:hover {
  opacity: 0.8;
}

.scroll-hint i {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translate(-50%, -50%) scale(3);
  font-size: 1rem;
  color: var(--color-05);
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(-10px); }
  100% { opacity: 1; transform: translateY(0); }
}
@keyframes bounce {
  0%, 100% { transform: translate(-50%, -50%) scale(3); }
  50% { transform: translate(-50%, calc(-50% + 8px)) scale(3); opacity: 0.6; }
}