@import url("root.css");
@import url("gioithieu.css");
@import url("thanh-xem-truoc.css");

content {
  color: rgba(255,255,255,0.9);
  text-align: center;
}

content >div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

content div > div {
  /* height: 100px; */
  padding: 20px 10%;
}

content h1 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4pt;
  margin: 100px 0;
}

content h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4pt;
}

#duan,
#bigwidgets, #biggerwidgets, #hugewidgets {
  background: var(--color-03);
}

#lienhe,
#shishkabobs, #bbqkabobs, #summerkabobs {
  background: var(--color-04);
}

#khac {
  background: var(--color-05);
}
