@import url("root.css");
@import url("thanh-tien-ich.css");
@import url("thanh-xem-truoc.css");
@import url("gioithieu.css");
@import url("lienhe.css");
@import url("duan.css");
@import url("sothich.css");
@import url("popup.css");
@import url("cotmoc.css");

content {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
}

content>div {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

content div>div {
  margin-top: 12px;
}

content h1 {
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 4pt;
  margin: 64px 0;
  text-align: center;
  font-size: 2rem;
  display: inline-block;
}

content h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 4pt;
}